doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Dashboard')
    meta(name='keyword', content='Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina')
    title My_Data
    // Bootstrap core CSS
    link(href='assets/css/bootstrap.css', rel='stylesheet')
    link(rel='stylesheet', href='http://www.w3schools.com/lib/w3.css')
    // external css
    link(href='assets/font-awesome/css/font-awesome.css', rel='stylesheet')
    // Custom styles for this template
    link(href='assets/css/style.css', rel='stylesheet')
    link(href='assets/css/style-responsive.css', rel='stylesheet')
    style.
      .header, #sidebar {
      background: #2C3E50;
      }
      span {
      font-size: 14px;
      }
      #name {
      color: #B4886B;
      font-weight: bold;
      float: left;
      margin-left:100px;
      font-size:15px;
      }
      #wd
      {
      margin-left:20px;
      }
      .file-uploader {
      background-color: #dbefe9;
      border-radius: 3px;
      color: #242424;
      }
      .file-uploader__message-area {
      font-size: 18px;
      padding: 1em;
      text-align: center;
      color: #377a65;
      }
      .file-list {
      background-color: white;
      font-size: 16px;
      }
      .file-list__name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      }
      .file-list li {
      height: 50px;
      line-height: 50px;
      margin-left: .5em;
      border: none;
      overflow: hidden;
      }
      .removal-button {
      width: 20%;
      border: none;
      background-color: #d65d38;
      color: white;
      }
      .removal-button::before {
      content: "X";
      }
      .removal-button:focus {
      outline: 0;
      }
      .file-chooser {
      padding: 1em;
      transition: background-color 1s, height 1s;
      }
      .file-chooser p {
      font-size: 18px;
      padding-top: 1em;
      }
      .file-uploader {
      max-width: 400px;
      height: auto;
      margin: 2em auto;
      }
      .file-uploader * {
      display: block;
      }
      .file-uploader input[type=submit] {
      margin-top: 2em;
      float: right;
      }
      .file-list {
      margin: 0 auto;
      max-width: 90%;
      }
      .file-list__name {
      max-width: 70%;
      float: left;
      }
      .removal-button {
      display: inline-block;
      height: 100%;
      float: right;
      }
      .file-chooser {
      width: 90%;
      margin: .5em auto;
      }
      .file-chooser__input {
      margin: 0 auto;
      }
      .file-uploader__submit-button {
      width: 100%;
      border: none;
      font-size: 1.5em;
      padding: 1em;
      background-color: #72bfa7;
      color: white;
      }
      .file-uploader__submit-button:hover {
      background-color: #a7d7c8;
      }
      .file-list li:after, .file-uploader:after {
      content: "";
      display: table;
      clear: both;
      }
      .hidden {
      display: none;
      }
      .hidden input {
      display: none;
      }
      .error {
      background-color: #d65d38;
      color: white;
      }
      *, *::before, *::after {
      box-sizing: border-box;
      }
      ul, li {
      margin: 0;
      padding: 0;
      }
      .upload-btn,.upload-btnadhar{
      color: #ffffff;
      background-color: #F89406;
      border: none;
      }
      .upload-btnpassport{
      color: #ffffff;
      background-color: #F89406;
      border: none;
      }
      .upload-btn:hover,
      .upload-btn:focus,
      .upload-btn:active,
      .upload-btn.active,
      .upload-btn:hover,
      .upload-btnadhar:focus,
      .upload-btnadhar:active,
      .upload-btnadhar.active
      .upload-btnpassport:hover,
      .upload-btnpassport:focus,
      .upload-btnpassport:active,
      .upload-btnpassport.active {
      color: #ffffff;
      background-color: #FA8900;
      border: none;
      }
      #upload-input, #upload-inputadhar, #upload-inputpassport {
      display: none;
      }
      .bs-example{
        margin: 20px;
      }
      .modal-dialog {
    
        width: 30%; /* Full width */
        padding-top: 100px; 
      }
      .personal_details {
      background-color: white;
      width: 90%;
      margin-left:5%;
      }
      .personal_details h3 {
      padding: 10px;
      border-bottom: 2px solid #fd9f1b;
      }
  body
    section#container
      // header start
      header.header.black-bg
        .sidebar-toggle-box
          .fa.fa-bars.tooltips(data-placement='right', data-original-title='Toggle Navigation')
        // logo start
        a.logo(href='/dashbord')
          b
            img(src='myhub_logo.png',style='height:55px;width:100px;margin-top:-13px')
        // logo end
        .top-menu
          ul.nav.pull-right.top-menu
            li
              a.logout(href='logout') Logout
      // header end
      //
        **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        ***********************************************************************************************************************************************************
      // sidebar start
      aside
        #sidebar.nav-collapse
          // sidebar menu start
          ul#nav-accordion.sidebar-menu
            p.centered
              a(href='/dashbord')
                if user.profilepic
                  img.img-circle(src=user.profilepic, width='80')
                else
                  img.img-circle(src='img/user.jpg', width='80')
            h5.centered 
              p.sname= user.StaffName
            li.mt
              a.active(data-toggle='tab', href='#personaldata')
                i.fa.fa-user
                span Personal Data
            li.sub-menu
              a(data-toggle='tab', href='#education')
                i.fa.fa-book
                span Education
              //
                											<ul class="sub">
                													<li><a  href="general.html">General</a></li>
                													<li><a  href="buttons.html">Buttons</a></li>
                													<li><a  href="panels.html">Panels</a></li>
                											</ul>
            li.sub-menu
              a(data-toggle='tab', href='#bank')
                i.fa.fa-bitcoin
                span Bank Details
              //
                											<ul class="sub">
                													<li><a  href="calendar.html">Calendar</a></li>
                													<li><a  href="gallery.html">Gallery</a></li>
                													<li><a  href="todo_list.html">Todo List</a></li>
                											</ul>
            li.sub-menu
              a(data-toggle='tab', href='#aadhar')
                i.fa.fa-file
                span Aadhar
              //
                											<ul class="sub">
                													<li class="active"><a  href="blank.html">Blank Page</a></li>
                													<li><a  href="login.html">Login</a></li>
                													<li><a  href="lock_screen.html">Lock Screen</a></li>
                											</ul>
            li.sub-menu
              a(data-toggle='tab', href='#passport')
                i.fa.fa-plane
                span Passport
              //
                											<ul class="sub">
                													<li><a  href="form_component.html">Form Components</a></li>
                											</ul>
          // sidebar menu end
      // sidebar end
      //
        **********************************************************************************************************************************************************
        MAIN CONTENT
        ***********************************************************************************************************************************************************
      // main content start
      section#main-content
        section.wrapper.site-min-height
          h3
            i
          .row.mt
            .col-lg-12
              .tab-content
                #personaldata.tab-pane.fade.in.active
                  .personal_details
                    h3 Personal Data
                    table
                      tr
                        td
                          label#name Your Name 
                        td
                          label#wd=user.StaffName
                        td
                          label#name Date Of Birth 
                        td
                          label#wd=user.DateOfBirth
                      tr
                        td
                          label#name Mother Tongue 
                        td
                          label#wd=user.MotherTongue
                        td
                          label#name Religion 
                        td
                          label#wd=user.Relegion
                      tr
                        td
                          label#name Mobile Number 
                        td
                          label#wd=user.MobileNo
                        td
                          label#name Email ID 
                        td
                          label#wd=user.Email
                      tr
                        td
                          label#name Caste 
                        td
                          label#wd=user.CasteName
                        td(align='top')
                          label#name Address
                        td
                          label#wd=user.Address1+','
                          label#wd=user.Address2
                  br
                  br
                  .personal_details
                    h3 Education
                    table
                      tr
                        td
                          label#name Designation Name 
                        td
                          label#wd=user.DesignationName
                        td
                          label#name Department Name 
                        td
                          label#wd=user.DepartmentName
                      tr
                        td
                          label#name Teaching Type 
                        td
                          label#wd=user.TeachingType
                        td
                          label#name Civil ID 
                        td
                          label#wd=user.CivilId
                      tr
                        td
                          label#name Staff Code
                        td
                          label#wd=user.StaffCode
                        td
                          label#name College 
                        td
                          label#wd=user.College
                  br
                  br
                  .personal_details
                    h3 Others
                    table
                      tr
                        td
                          label#name PF Number 
                        td
                          label#wd=user.PFNumber
                        td
                          label#name Pan Card Number 
                        td
                          label#wd=user.PanGirNo
                      tr
                        td
                          label#name Account Number 
                        td
                          label#wd=user.AccountNo
                        td
                          label#name Account Type 
                        td
                          label#wd=user.AccountType
                      tr
                        td
                          label#name Bank Name 
                        td
                          label#wd=user.BankName
                        td
                          label#name Branch 
                        td
                          label#wd=user.BankBranch
                      tr
                        td
                          label#name Date Of Joining 
                        td
                          label#wd=user.DateOfJoining
                        td
                          label#name Date Of Leaving
                        td
                          
                #education.tab-pane.fade
                  .personal_details
                    h3 SSC
                    .col-lg-12.ssc
                      br
                      form(method='POST',action='', enctype='multipart/form-data')
                        .col-lg-6
                          table
                            tr
                              td(style='color: #B4886B;font-weight: bold;font-size: 1.25em') Year of passing:   
                              td
                                input#inputsscy.form-control.input-sm(type='text', value=user.SSC.YearOfPass)
                        .col-lg-6
                          table
                            trm
                              td(style='color: #B4886B;font-weight: bold;font-size: 1.25em') Institution:  
                              td
                                input#inputssci.form-control.input-sm(type='text', value=user.SSC.Institution, size='50')
                        center
                          br
                          br
                          br
                          input#upload-ssc.file-chooser__input.btn.btn-default(type='file',name='uploadsssc[]',style='width:35%;')
                          br
                          input#uploadbtn-ssc.btn.btn-info(type='button', value='save')
                          if user.SSC.Certificate
                            button.btn.btn-info
                              a(href=user.SSC.Certificate, style='color: white', download) Download Certificate
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                  br
                  br
                  .personal_details
                    h3 Intermediate
                    .col-lg-12.inter
                      br
                      form(method='POST',action='', enctype='multipart/form-data')
                        .col-lg-6
                          table
                            tr
                              td(style='color: #B4886B;font-weight: bold;font-size: 1.25em') Year of passing:   
                              td
                                input#inputintery.form-control.input-sm(type='text', value=user.Inter.YearOfPass)
                        .col-lg-6
                          table
                            tr
                              td(style='color: #B4886B;font-weight: bold;font-size: 1.25em') Institution:  
                              td
                                input#inputinteri.form-control.input-sm(type='text', value=user.Inter.Institution, size='50')
                        center
                          br
                          br
                          br
                          input#upload-inter.file-chooser__input.btn.btn-default(type='file',name='uploadsinter[]' style='width:35%;')
                          br
                          input#uploadbtn-inter.btn.btn-info(type='button', value='save')
                          if user.Inter.Certificate
                            button.btn.btn-info
                              a(href=user.Inter.Certificate, style='color: white', download) Download Certificate

                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                  br
                  br
                  .personal_details
                    h3 UG
                    .col-lg-12.ug
                      br
                      form(method='POST',action='', enctype='multipart/form-data')
                        .col-lg-6
                          table
                            tr
                              td(style='color: #B4886B;font-weight: bold;font-size: 1.25em') Year of passing:   
                              td
                                input#inputugy.form-control.input-sm(type='text', value=user.UG.YearOfPass)
                        .col-lg-6
                          table
                            tr
                              td(style='color: #B4886B;font-weight: bold;font-size: 1.25em') Institution:  
                              td
                                input#inputugi.form-control.input-sm(type='text', value=user.UG.Institution, size='50')
                        center
                          br
                          br
                          br
                          input#upload-ug.file-chooser__input.btn.btn-default(type='file',name='uploadsug[]' style='width:35%;')
                          br
                          input#uploadbtn-ug.btn.btn-info(type='button', value='save')
                          if user.UG.Certificate
                            button.btn.btn-info
                              a(href=user.UG.Certificate, style='color: white', download) Download Certificate

                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                  br
                  br
                  .personal_details
                    h3 PG
                    center
                      .col-lg-12.pg
                        br
                        form(method='POST',action='', enctype='multipart/form-data')
                          .col-lg-6
                            table
                              tr
                                td(style='color: #B4886B;font-weight: bold;font-size: 1.25em') Year of passing:   
                                td
                                  input#inputpgy.form-control.input-sm(type='text', value=user.PG.YearOfPass)
                          .col-lg-6
                            table
                              tr
                                td(style='color: #B4886B;font-weight: bold;font-size: 1.25em') Institution:  
                                td
                                  input#inputpgi.form-control.input-sm(type='text', value=user.PG.Institution, size='50')
                          center
                            br
                            br
                            input#upload-pg.file-chooser__input.btn.btn-default(type='file',name='uploadspg[]',style='width:35%;')
                            br
                            input#uploadbtn-pg.btn.btn-info(type='button', value='save')
                            if user.PG.Certificate
                              button.btn.btn-info
                                a(href=user.PG.Certificate, style='color: white', download) Download Certificate
                      br
                      br
                      br
                      br
                      br
                      br
                      br
                      br
                      br
                      br
                  br
                  br
                #bank.tab-pane.fade
                  h3 
                  .col-lg-12
                    form.file-uploader(method='post', action='', enctype='multipart/form-data')
                      .file-uploader__message-area
                        p Select a file to upload
                      .file-chooser
                        .progress
                          .progress-bar.pr-bank(role='progressbar')
                        input#upload-input(type='file', name='uploads[]', multiple='multiple')
                        center
                          if user.bank
                            button.btn.btn-lg.upload-btn(type='button',disabled) Upload File
                          else
                            button.btn.btn-lg.upload-btn(type='button') Upload File
                            p.fname
                    center
                      if user.bank
                        button.btn.btn-default
                          a(href=user.bank, download='') Download
                #aadhar.tab-pane.fade
                  h3 Upload your Aadhar Card
                  .col-lg-12
                    form.file-uploader(method='post', action='', enctype='multipart/form-data')
                      .file-uploader__message-area
                        p Select a file to upload
                      .file-chooser
                        .progress
                          .progress-bar.pr-adhar(role='progressbar')
                        input#upload-inputadhar(type='file', name='uploadsadhar[]', multiple='multiple')
                        center
                          if user.adhar
                            button.btn.btn-lg.upload-btnadhar(type='button',disabled) Upload File
                          else
                            button.btn.btn-lg.upload-btnadhar(type='button') Upload File
                    center
                      if user.adhar
                        button.btn.btn-default
                          a(href=user.adhar, download='') Download
                #passport.tab-pane.fade
                  h3 Upload your Passport
                  .col-lg-12
                   form.file-uploader(method='post', action='', enctype='multipart/form-data')
                      .file-uploader__message-area
                        p Select a file to upload
                      .file-chooser
                        .progress
                          .progress-bar.pr-passport(role='progressbar')
                        input#upload-inputpassport(type='file', name='uploadspassport[]', multiple='multiple')
                        center
                          if user.passport
                            button.btn.btn-lg.upload-btnpassport(type='button',disabled) Upload File
                          else
                            button.btn.btn-lg.upload-btnpassport(type='button') Upload File
                   center
                     if user.passport
                       button.btn.btn-default
                         a(href=user.passport, download='') Download
      // /MAIN CONTENT
      // main content end
      //
        footer start--
        <footer class="site-footer">
        <div class="text-center">
        2014 - Alvarez.is
        <a href="blank.html#" class="go-top">
        <i class="fa fa-angle-up"></i>
        </a>
        </div>
        </footer>
        <!--footer end
    // js placed at the end of the document so the pages load faster
    script(src='assets/js/jquery.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='assets/js/jquery-ui-1.9.2.custom.min.js')
    script(src='assets/js/jquery.ui.touch-punch.min.js')
    script.include(type='text/javascript', src='assets/js/jquery.dcjqaccordion.2.7.js')
    script(src='assets/js/jquery.scrollTo.min.js')
    script(src='assets/js/jquery.nicescroll.js', type='text/javascript')
    // common script for all pages
    script(src='assets/js/common-scripts.js')
    // script for this page
    script.
      //custom select box
      $(function(){
      $('select.styled').customSelect();
      });
    script(src='https://code.jquery.com/jquery-2.2.0.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='javascripts/jquery.alerts.js', type='text/javascript')
    script(src='javascripts/jquery.noty.packaged.js', type='text/javascript')
    script(src='javascripts/jquery.statusbar.js', type='text/javascript')
    script(src='javascripts/upload.js')
    script(src='javascripts/education.js')